@tailwind base;
@tailwind components;
@tailwind utilities;

.line{
    font-size: 12px;
    line-height: 12px;
}

.bg-img{
    background-image: url('/Lines.svg');
    height: 100%;
    width: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}