@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode.ttf')
}

.line{
    font-size: 12px;
    line-height: 12px;
}

.bg-img{
    background-image: url('/Lines.svg');
    height: 100%;
    width: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mono-font{
    font-family: 'Cascadia Code', monospace;
}

html {
    scroll-behavior: smooth;
}

.window-spacing {
    padding: 4rem 0;
}